.container{
    width: 700px;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.numerical{
    width: 100%;
    margin: 10px;
}

.operational{
    width: 100%;
    margin: 10px;
}